h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

p{ margin: 0; padding:0;}

h2 { margin: 5px 0 10px 0; padding: 0;}

header {
	border-bottom: 1px solid;
	background-color: #b56663;
	opacity: 0.90;
	margin:0px;
	padding: 4px 0 0 2px;
}

.name h1 {
	padding: 0;
	margin:0;
	content: 0;
	font-size: 65px;
	font-family: "Georgia, Times New Roman,Serif";
}

.name h2 {
	font-size: 40px;
	margin: 0;
	paddin:0;
}

main {
	margin: 0 30px 0 23px;
	width:800px;
		background-color: #8a8baa;
	background-image: url(paisley.png);
	opacity: 1.5;
	line-height: normal;
		font-family: "Georgia, Times New Roman,Serif";
}

.sidebar {
	width: 400px;
	height: 700px;
	background-color: #84a5c3;
	float:right;
	margin: 20px;
}

.mytext {
	width: 300px;
	height: 100px;
	border: 1px;
	margin: 0 0 0 15px;
		font-family: "Georgia, Times New Roman,Serif";
}

.leave_comment h3{
	margin: 20px 0 0 15px;
		font-family: "Georgia, Times New Roman,Serif";
}

.enter_email {
	padding: 100px 0 0 15px;
}

.name h3 {
	padding: 0;
	margin: 0 0 15px 0;
	font-size: 40px;
}

.contact li {
	margin-right: 20px;
	display: inline;
}

.profile {
	border-bottom: 1px solid;
}

.profile h3 {
	margin: 0 0 15px 40px;
	
}

.skills {
	border-bottom: 1px solid;
}

.skills li {
	list-style: none;
}

.skills p {
	margin: 0 0 10px 0;
}

.technical {
border-bottom: 1px solid;	
}

.technical li {
	list-style: none;
	display: inline;
	margin-right: 55px;
}

.experience {
	border-bottom: 1px solid;
}



.job {
	margin: 0 0 20px 40px;
}


.education {
	border-bottom: 1px solid;
}

.university {
	margin: 0 0 0 40px;
}

footer {
	background-color: #777;
	margin: 25px 0 0 0;
	height: 50px;
	width: 1100px;
	opacity:.80;
}

